@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    @apply text-white text-center text-2xl md:text-4xl font-light tracking-wider py-1
}

/* ImageGallery */
.model {
    @apply w-full h-svh fixed top-0 left-0 flex justify-center items-center bg-black invisible opacity-0 overflow-hidden z-50;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    transform: scale(0);
}

.model.open {
    @apply visible opacity-100;
    transform: scale(1);
}